hr {
  /* jacked from http://css-tricks.com/examples/hrs/ */
  border: 0;
  height: 1px;
  background: #333;
  background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc); 
  background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc); 
  background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc); 
  background-image:      -o-linear-gradient(left, #ccc, #333, #ccc);
  width: 90%;
}

header {
  padding-top: 2%;
  background-color: white;
}

header h1 {
  font-size: 3em;
  margin: .3em;
  color: black;
  font-variant: small-caps;
  text-align: center;
}

body {
  background-color: black;
  /*#2A120A;*/
}

footer a{
  font-variant: small-caps;
  font-size: .8em;
}

#toolbar {
  width: 100%;
  margin: 0;
  background-color: #2A120A;
  height: 1.5em;
  border: 1px solid blue;
  top: 0;
  left: 0;
  position: fixed;
  overflow: hidden;
}

#toolbar label {
  color: white;
  font-size: .8em;
  font-variant: small-caps;
}

#toolbar form {
  float: right;
  margin-right: 2%;
}

#toolbar select {
  background: transparent;
  border: 0;
  border-radius: 0;
  color: #FF00FF;
  font-variant: small-caps;
}

#container {
  background-color: white;
}

#main {
  
}

#content {
  width: 90%;
  margin: 5%;
}

footer {
  text-align: center;
}

.goal {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1em;
  padding: 0 .5em;
}

.goal p {
  text-indent: 1em;
  margin: 0;
}

.active {
  border: 2px solid #00FF00;
  color: black;
}

.inactive {
  border: 1px solid #585858;
}

.buttons {
  float: right;
}

.button {
  font-variant: small-caps;
  font-size: .8em;
}

.inline {
  display: inline-block;
}

.add{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  padding: 0 .5em;
}

.add input{
  font-variant: small-caps;
  width: 100%;
}

.right {
  float: right;
}
