{% extends "main.html" %}

{% block toolbar %}
  <div>
    <form>
      <label for="collection">Collection</label>
      <select id="select_collection" name="collection"><option value="{{collection}}" selected>{{collection}}</option></select>
    </form>
  </div>
{% end %}

{% block header %}
  <hr>
	<h1>{{ header_text }}</h1>
  <hr>
{% end %}

{% block body %}
		{% for goal in goals %}
      {% module Template("goal.html", goal=goal) %}
    {% end %}
    <br><hr>
    {% module Template("add.html",collection=collection) %}
{% end %}

{% block footer %}
		<p>{{ footer_text }}<br><a href='https://github.com/matthew-parlette/goal-tracker'>source</a></p>
{% end %} 
