<html>
<head>
	<title>{{ escape(page_title) }}</title>
  <link rel="stylesheet" href="{{ static_url("site.css") }}" type="text/css"/>
</head>
<body>
  <div id="toolbar">
    {% block toolbar %}{% end %}
  </div>
	<div id="container">
		<header>
			{% block header %}<h1>Hello.</h1>{% end %}
		</header>
		<div id="main">
			<div id="content">
				{% block body %}{% end %}
			</div>
		</div>
		<footer>
			{% block footer %}{% end %}
		</footer>
	</div>
	</body>
</html>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>

<script language="javascript">
  function post_delete(id){
    $.post("/delete/"+id);
    $('#'+id).hide('slow');
  }
  function activate(id){
    $.post("/activate/"+id);
    $('#'+id).removeClass('inactive').addClass('active');
  }
  function deactivate(id){
    $.post("/deactivate/"+id);
    $('#'+id).removeClass('active').addClass('inactive');
  }
  function toggle(id){
    if($('#'+id).hasClass('active')){deactivate(id);}
    else{activate(id);}
  }
  function build_collections(json_list){
    for (var i in json_list) {
      $('#select_collection').append('<option value="'+json_list[i]+'">'+json_list[i]+'</option>');
    }
    //activate the select box
    $('#select_collection').change(function(){
      window.location = "/"+$(this).val();
    });
  }
  $('.goal').click(function(event){toggle(event.target.id);})
  $(document).ready(function() {
    //Get collection list
    $.ajax({
      url: "/collections",
      type: "GET",
      dataType: "json",
      success: build_collections,
      //complete: function (xhr,status){alert("request complete");}
    });
  });
</script>
