<html>
<head>
	<title>{{ escape(page_title) }}</title>
</head>
<body>
	<div id="container">
		<header>
			{% block header %}<h1>Hello.</h1>{% end %}
		</header>
		<div id="main">
			<div id="content">
				{% block body %}{% end %}
			</div>
		</div>
		<footer>
			{% block footer %}{% end %}
		</footer>
	</div>
	</body>
</html>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>

<script language="javascript">
  function post_delete(id){
    alert("sending "+"/delete/"+id)
    $.post("/delete/"+id);
    $('#'+id).hide('normal')
  }
</script>
